.Rproj.user
.Rhistory
.RData
.Ruserdata

posts/survey-programing/data_clean.csv
posts/survey-programming/data_clean.csv
/dat/
/.quarto/
_site/*
_site/search.json
posts/rise_of_comp2/umap_embedding.csv
index_files/
posts/allotax-in-quarto/data/test_data.js
posts/allotax-in-quarto/data/elem_girls.json
posts/rise_of_comp3/comp_normalized.csv
posts/rise_of_comp3/count_field_and_decade.csv
posts/s2orc_viz/count_field_and_decade.csv
posts/survey-programming/data_clean.csv
_site/search.json

posts/rise_of_comp2/umap_embedding_2NCOMP.*
posts/rise_of_comp2/classify-comp-proj.*
posts/rise_of_comp2/paperIds.csv

unlisted_posts/complaints/*parquet
